@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1c1c1e;
		--foreground: #ffffff;
	}
}
@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-blue: #0a84ff;
	--color-secondary: #3c3c43;
	--color-secondary-dark: #d4d4d4;
	--color-seperator: #c6c6c8;
	--color-seperator-dark: #38383a;
	--color-card-light: #ffffff;
	--color-card-dark: #2c2c2e;
	--color-header-light: #bababa;
	--color-header-dark: #000000;
	--color-header-item-dark: #2c2c35;
	--color-fab-dark: #000000;
	--color-fab-text: #ffffff;
	--color-fab-text-dark: #8e8e93;
}

@font-face {
	font-family: 'Pretendard';
	src: url('/fonts/Pretendard.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

html {
	overflow-y: scroll;
}
body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Pretendard', sans-serif;
	letter-spacing: -0.04rem;
}

/* temp */
/* div {
	border: 2px solid black;
} */

@layer base {
}

@layer components {
	.overview-frame {
		scrollbar-width: none;
	}
	.overview-frame.box::-webkit-scrollbar {
		display: none;
	}
}

/* 모달 스크롤바 */
@layer utilities {
	.scrollbar-hide {
		&::-webkit-scrollbar {
			display: none;
		}
		scrollbar-width: none;
	}
	/* .header-container {
		@apply flex px-3 py-1 items-center justify-between bg-header-light/50 dark:bg-header-dark/50 rounded-3xl gap-2 shadow-md backdrop-blur-xs dark:backdrop-blur-lg;
	} */
}
